/* ----- NAVBAR ----- */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327;
}
body
{
    /* display: flex; */
    justify-content: left;
    /* align-items: center; */
    min-height: 100px;
    /* background: var(--clr); */
    background-image: url("../img/basicbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: transparent;
    padding-top: 20px;
}
.navigation
{
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff7d1;
    /* #fff2ab */
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul
{
    display: flex;
    width: 350px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 25px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(15px);
}
.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #ffee8f;
    border-radius: 50%;
    border: 6px solid #ffe347;
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
/* ----- NAVBAR VÉGE ----- */



.content
{
    position: relative;
}



/* ----- KAPCSOLAT ----- */
.contact_icon
{
    font-size: 30px;
}
.contact_body
{
    background-image: url("../img/connection_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.contact_content
{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff60;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 50px 0 50px 0;
}
/* ----- KAPCSOLAT VÉGE ----- */



/* ----- GALÉRIA ----- */
.gallery
{
    margin: 10px, 50px;
    background-color: #ffffff60;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 30px;
}
.gallery img
{
    transition: 1s;
    padding: 15px;
    width: 200px;
    height: 200px;
}
.gallery img:hover
{
    filter: grayscale(100%);
    transform: scale(1.1);
}
/* ----- GALÉRIA VÉGE ----- */

.szöveg, h2
{
    padding-left: 30px;
}